<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="export_host" value="10.39.148.186"/>
    <add key="export_port" value="3306"/>
    <add key="export_user" value="root"/>
    <add key="export_pwd" value="mongs"/>
    <add key="export_database" value="ENIQAggregation"/>
    <add key="import_host" value="221.226.11.252"/>
    <add key="import_port" value="13306"/>
    <add key="import_user" value="ENIQAggregation"/>
    <add key="import_pwd" value="ENIQAggregation"/>
    <add key="import_database" value="ENIQAggregation"/>
    <add key="import_province" value="江苏"/>
  </appSettings>
</configuration>